<form action="/<%= idea.id %>" method='POST'>
	<p>
		Editing idea <%= idea.id %>:
	</p>
	<input type='hidden' name='_method' value='PUT' />
	Title<br> 
	<input type='text' name='idea[title]' value="<%= idea.title%>"/><br/>
	Description<br>
	<textarea name='idea[description]'><%= idea.description %></textarea><br/>
	Tags (comma separated)<br>
	<input type='text' name='idea[tags]' value="<%= idea.tags.join(', ') %>"/><br>
	<input type='submit'/>
</form>

